@model ImageSharingWithSecurity.Models.ApproveModel

@{
    ViewData["Title"] = "Approve Images";
}


<h2>@ViewBag.Title</h2>

<form method="post" asp-action="Approve" asp-controller="Images">

    <fieldset>
        <legend>Approve Images</legend>

        <table class="gridTable">
            <tr>
                <th>Image Caption</th>
                <th>Approve</th>
            </tr>

            @for (var i = 0; i < Model.Images.Count(); i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="Images[i].Value" />
                        @Model.Images[i].Text
                    </td>
                    <td>
                        <input asp-for="Images[i].Selected" />
                    </td>
                </tr>
            }

        </table>

        <p>
            <input type="submit" value="Save Changes" />
        </p>

    </fieldset>

    <p>@ViewBag.Message</p>

</form>

