@model ImageSharingWithSecurity.Models.ListByTagModel

@{
    ViewBag.Title = "List Images By Tag";
}

<h2>@ViewBag.Title</h2>

<form method="get" asp-action="DoListByTag" asp-controller="Images">

    <fieldset>
        <legend>Choose a tag</legend>
        <p>
            Tag: 
            <select asp-for="Id" asp-items="Model.Tags">
                <option disabled selected value="">Select a tag</option>
            </select>
        </p>
        <p>
            <input type="submit" value="List" />
        </p>
    </fieldset>

    @ViewBag.Message

</form>