@{
    ViewBag.Title = "Find an Image";
}

<

<h2>@ViewBag.Title</h2>

<form method="get" asp-action="Details" asp-controller="Images">

    <fieldset>
        <legend>Enter Image Information</legend>
        <p>
            Image id: <input id="Id" name="Id" type="number"/>
        </p>
        <p>
            <input type="submit" value="Query" />
        </p>
    </fieldset>

    @ViewBag.Message

</form>