@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title</h2>

@model ImageSharingWithModel.Models.UserView

<form method="post" asp-action="Register" asp-controller="Account">

    <fieldset>
        <legend> Provide User Information</legend>
        <p>
            Choose a user name:
            <input asp-for="Username" /><span asp-validation-for="Username" />
        </p>
        <p>
            Check if visually impaired:
            <input asp-for="ADA" /><span asp-validation-for="ADA" />
        </p>
        <p>
            <input type="submit" value="Register" />

        </p>
    </fieldset>

    <p>@ViewBag.Message</p>
    <p><div class="text-danger" asp-validation-summary="ModelOnly"></div></p>

</form>